@import "tailwindcss";
/* npx @tailwindcss/cli -i ./src/input.css -o ./src/output.css --watch */

html {
    font-size:62.5%;
}

* {
    box-sizing: border-box;
}

main {
    display: flex;
}

.start-stop img {
    
}


